body {
    background-image: url('../img/city.svg');
    margin: 0;
}

.pageHead {
    top: 0;
    background-color: #FFFFFF;
    height: fit-content;
    width: 100%;
}

.logo {
    top: 0;
    margin: 12px 0 12px 15%;
}

.pageContainer {
    width: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.topMessage {
    font-family: Roboto;
    font-style: normal;
    text-align: center;
    margin-bottom: 2rem;
}

.firstMessage {
    font-size: 2rem;
    font-weight: 500;
    color: #2D3A40;
}

.secondMessage {
    font-size: 0.875rem;
    color: #748296;
}

.formContainer {
    text-align: center;
    width: 100%;
    height: fit-content;
    top: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(116, 130, 150, 0.2);
    border-radius: 3px;
    padding: 27px 0px 27px 0;
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.formContainer input {
    border: 1px solid rgba(116, 130, 150, 0.2);
    background: #FFFFFF;
    width: 50%;
    height: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.formContainer select {
    border: 1px solid rgba(116, 130, 150, 0.2);
    background: #FFFFFF;
    width: 50%;
    height: 40px;
    outline: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.formContainer label {
    position: absolute;
    color: rgba(45, 58, 64, 0.3);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 15px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 200ms;
    margin-left: 30%;
}

input:focus+label {
    font-size: 75%;
    background: #FFFFFF;
    transform: translate3d(0, -140%, 0);
    padding: 5px;
    outline: none;
}

.beforeClickButton {
    width: 40%;
    height: 40px;
    background: #14E298;
    border: 1px solid #14E298;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    outline: none;
}

.beforeClickButton:hover {
    background: #23F7AB;
}

.beforeClickButton:active {
    background: #14E298;
}

.afterClickButton {
    width: 40%;
    height: 40px;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    color: #14E298;
    background: #FFFFFF;
    border: 1px solid #14E298;
}

.bottomMessage {
    font-family: Roboto;
    text-align: center;
    margin-bottom: 30px;
}

.bottomMessage p {
    font-size: 0.7rem;
    color: #748296;
}

.pageBottom {
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

ul#bottom-options {
    padding: 0;
}

ul#bottom-options li {
    display: inline;
    font-family: Roboto;
    color: #748296;
    font-size: 0.7rem;
    margin-right: 20px;
}